body {
    
    height: 2000px;
    width: 1200px;
    margin: auto;
}
.title {
    font-size: 40px;
    text-align: center;
    background-color: bisque;
    width: 300px;
    margin: 0 auto;
}

#map {
    position: relative; top :100px;
    height: 800px;
    width: 1000px;
    text-align: center;
    margin: 0 auto;
}

.member{
    position: relative; top: 50px;
    text-align: center;
    font-size: 30px;
    display: flex;
    justify-content: center;
    resize: none;
}

.member input{
    position: relative; top: -10px;
    height: 40px;
    width: 200px;
    resize: none;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.member textarea {
    position: relative; top: 7px;
    height: 40px;
    width: 300px;
    resize: none;
    font-size: 14px;
}
#check {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: relative; top: 50px;
    width: 100px;
}

#y-m-button, #y-a-button, #y-z-button, #y-n-button {
    position: relative; 
    top: 150px;
    margin: 0 auto;
    font-size: 25px;
    text-align: center;
}
